

<div class="welcome">
  <h1 class="text-center">Wikipedia Game: <small>Indulge desire for knowledge with vanquishing your enemies</small></h1>
  <body>
    <div class="all_instructions">
      <h3>
        Instructions
      </h3>
      <p>
        1. You have to log in to play
      </p>
      <p>
        2. You won't get an email and the email you put in can be total junk
      </p>
      <p>
        3. You can create a random game at the bottom or click play and play a game that has already been created </p>
      <p>
        4. If you don't know the start or end articles (95% you won't) hit the little "i" icon next to the names of the start or end point
      </p>

      <hr>

      <h3>
        Rules
      </h3>
      <p>
        1. Get from one article to another in as few clicks as possible
      </p>
      <p>
        2. You can use "Ctr" + "F" to search the page (weak)
      </p>
      <p>
        3. You can use your web browsers back button (top left) to go back to a previous wiki article. Going backwards does NOT count as a move </p>
      <p>
        4. Have fun!!
      </p>
    </div>
  </body>
</div>
