<html>
  <head>
      <script type="text/javascript" src="../../dist/vis.js"></script>
      <link href="../../dist/vis.css" rel="stylesheet" type="text/css" />

      <style type="text/css">
          #mynetwork {
              width: 900px;
              height: 600px;
              border: 2px solid lightgray;
          }
      </style>
  </head>
  <body>
    <h2>Map of Moves</h2>
    <div id="mynetwork"></div>

    <script type="text/javascript">
      console.log("This is the window.location:", window.location.pathname.replace(/[^0-9\.]+/g, ""));
      var foobar = window.location.pathname.replace(/[^0-9\.]+/g, "");
      $.ajax({
        type: "GET",
        url: "/" + foobar + "/moves.json",
        dataType: 'json',
        success: function(data) {
          var nodes = new vis.DataSet(data.nodes);
          var edges = new vis.DataSet(data.edges);

          var container = document.getElementById('mynetwork');

          // provide the data in the vis format
          var data = {
              nodes: nodes,
              edges: edges
          };
          var options = {
            interaction: { hover:true },
            nodes: {
              font: { size: 14 }
            },
            edges: {color: "#109618" },
            labels: {'Start of Game': {color: '#FF9900' }}
          };

          // initialize your network!
          var network = new vis.Network(container, data, options);
        }
      })

    </script>
  </body>
</html>
