<h1 class="text-center">Show Wiki Page
<small>
  <%= link_to 'Back', games_path %>
</small></h1>

<%= render 'showwikipage', game: @game %>

<div class="bg_load"></div>
<div class="wrapper">
    <div class="inner">
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>
</div>
