@import "bootstrap-sprockets";
@import "bootstrap";
@import "wikipedia";
@import "games";
@import "users";
@import "vis";


/*-------Application nav bar formating-------*/

.sortable tr {
    cursor: pointer;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #dfdfdf;
  border-radius: 25px;
  color: black;
}

.text_hover_img {
  display: none;
}
.text_hover_img:hover {
  display: inline;
}

.info_hover img {
  width: 15px;
  height: 15px;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
}

.info_hover img:hover {
  width: 20px;
  height: 20px;
}
.info_hover img:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav, .navbar-header {
    text-transform: uppercase;
}
.navbar-nav > li > a:hover {
    padding-top: 20px;
    padding-bottom: 15px;
}
.navbar-header {
    float: left;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 15px;
}
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
 .navbar.navbar-inverse{
     background-color: rgb(248, 248, 248);
     border: none;
     border-bottom: solid 1px rgb(180, 180, 180);
     a {
       color: rgb(110, 110, 110);
     }
     a:hover {
      //  text-decoration: underline;
       color: rgb(110, 110, 110);
     }
     ul li {
       a {
         color: rgb(110, 110, 110);
       }
       a:hover {
         text-decoration: underline;
         color: rgb(110, 110, 110);
       }
     }
     height: 75px;
     .navbar-nav {
       padding-top: 13px;
     }
     .navbar-brand {
       padding-top: 27px;
     }
     #logo {
       padding-top: 11px;
     }
 }

 .nav, .navbar-header {
     text-transform: uppercase;
  font-family: "Noto Sans";
  color: rgb(75, 75, 75);
  h1 {
    color: #e05b49;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 20px;
    margin-left: 12px;
  }
}
.nav, .navbar-header{
  text-transform: uppercase;
}

.dl-horizontal dd {
    margin-left: 220px;
}
.dl-horizontal dt {
  width: 200px;
}
#logo {
  padding-top: 5px;
  display: inline-block;
}
.welcome {
  padding-left: 100px;
  padding-right: 100px;
}
.featured {
  border-radius: 50px;

}
.featured_link {
  font-size: 30px;
}
