// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col_width_setting {
  width:35%;
  white-space: nowrap;
}

.col_width_setting_disabled {
  width:40%;
  white-space: nowrap;
}
.col_width_setting_admin{
  width:40%;
  white-space: nowrap;
}

#game_index {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#game_index td, #game_index th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

#game_index tr:nth-child(even){background-color: #f2f2f2;}

#game_index tr:hover {background-color: #ddd;}

#game_index th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    vertical-align: middle;
}


th {
  font: white;
}
th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;

}
