
<%= link_to image_tag('info.png'), "https://en.wikipedia.org#{url_location}", :class=> "info_hover", :target => "_blank" %>
<span class="text_hover_img">Click here wont affect the number of moves.</span>
