<!DOCTYPE html>
<html>
  <head>
    <title>WikiGame</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >

  </head>

  <body>
    <%= yield %>
  </body>
</html>
